.image-upload{
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 0 auto;
    border-bottom: 1px solid gray;
    padding: 5px;
 
}

.progress-bar{
    width: 100%;
    margin-bottom: 2px;
}

.image-upload-modal{
    display: flex;
    width: 60%;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
}

.caption{
    padding: 10px;
    margin: 5px;
}

.file{
    padding: 10px;
}